name: PR Workflow
on:
    pull_request:
        paths:
            - 'scripts/**/*'
            - 'tests/**/*'

jobs:
    pr-job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Install python
              uses: actions/setup-python@v4
            - name: Install dependencies
              run: pip install -r requirements.txt
            - name: Run tests
              run: pytest --cov
