name: Test Workflow

on:
  pull_request:
    paths:
      - 'scripts/**/*'
      - 'tests/**/*'
      - '.github/workflows/test_workflow.yaml'
      - 'requirements.txt'

jobs:
  test_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run tests
        run: pytest --cov